@{
    ViewBag.Title = "About Us";
}
<h2>About Us</h2>


<p>Here we will insert information about us, like company name, what year we were formed and how to contact us.</p>
<p>RememberAll Contact List by Group 4 - The Explorers of S-hour</p>
