@{
    ViewBag.Title = "RememberAll.se";
}

<div class="row">
    <div class="col-md-4">
        <h2>RememberAll.se</h2>
        <p>
            Welcome to RememberAll's Contact List
        </p>
        
    </div>

</div>